.home-body {
    background-color: #F8F9EF;
}

.home-img {
    width: 900px;
    height: 520px;
    margin: 50px;
}

.home-container {
    display: flex;
    margin-top: 50px;
    align-items: center;
}

.home-buttons {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.home-buttons button {
    width: 350px;
    height: 100px;
    font-size: 40px;
    background-color: #262526;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.home-buttons .tut {
    background-color: #BAB9BB;
}

.home-buttons button:hover {
    background-color: #5a4a3d;
}
