/* Lobby.css */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Funnel+Display:wght@300..800&display=swap');
 
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
* {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.lobby-page {
  background-color: #F8F9EF;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
 
/* กล่อง container หลัก */
.lobby-container {
  background-color: #252526;
  width: 94vw;
  height: 94vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
/* ส่วนที่ 1: หัวข้อ Lobby */
.lobby-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  gap: 10px; /* ให้มีระยะห่างระหว่าง 'Player' และจำนวนผู้เล่น */
  font-size: 1.5rem;
  margin: 20px;
  color: #F8F9EF;
}
 
/* ส่วนที่ 2: ฟอร์มกรอกชื่อ */
.lobby-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  margin-bottom: 20px;
  justify-content: center;
}
 
.lobby-input {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 15px;
  width: 60%;
  text-align: center;
  font-family: "DM Sans", serif;
  font-weight: 400;
  color: #8b8b8a;

}
 
.lobby-button {
  padding: 10px 15px;
  font-size: 1rem;
  background-color: #7dc1c1;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
  white-space: nowrap;
  font-family: "DM Sans", serif;
  font-weight: 400;
}
 
.lobby-button:disabled {
  background-color: #ccc;
}
 
/* ส่วนที่ 3: รายชื่อผู้เล่น */
.lobby-players-container {
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
  color: #F8F9EF;
}
 
.lobby-players {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  
}
 
.lobby-player {
  background: #444;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  color: white;
}